services:
  ProjectZomboidDedicatedServer:
    image: danixu86/project-zomboid-dedicated-server:41.78.16
    restart: unless-stopped
    network_mode: host
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    volumes:
      # Server data
      - ./data:/home/steam/Zomboid
      # Workshop mods folder
      - ./workshop-mods:/home/steam/pz-dedicated/steamapps/workshop
